body {
  margin: 0;
}

.navigationBar {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #eac99c;


a {
  text-decoration: none;
  padding: 20px;

}

}
.logo {
  height: 90px;
  width: 90px;
}

.switchLinks:hover {
  background-color: white;
  color: #363232;
<<<<<<< HEAD
}
=======
}

>>>>>>> 8846026e72c2f1908e1544d5919f5ab5f2c414f5
