body {
  margin: 0;
}

.navigationBar {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #eac99c;


a {
  text-decoration: none;
  padding: 20px;

}

}
.logo {
  height: 90px;
  width: 90px;
}

.switchLinks:hover {
  background-color: white;
  color: #363232;
}

h2,p,h3,h4{
  height: 200px;
  width: 80px;
  flex-wrap: wrap-reverse;
  align-items: center;
  margin-left: 50px;

}